<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 

    Ver 2.3.11 added REQ_TYPE_JSON  2023.10.12  @kks
    Ver 2.3.12 added Request.Headers["encrypt"]=="yes",  FKWebTrans.SetEncMode  2023.11.6  @kks
    Ver 2.3.15 added add LoadScreen() in FKWebTrans.cs to update Screen    2024.7.4  @kks
      -->
      <configuration>
  <!--{{ log4net에 대한 설정항목-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!--}} log4net에 대한 설정항목-->
  <appSettings>
    <!-- 데바그메세지를 로그파일에 보관하겠는가를 보여주는 기발 -->
    <add key="ShowDebugMsg" value="yes"/>
    <!-- 실시간로그화상파일들을 보관할 루트폴더 -->
    <add key="LogImgRootDir" value="C:\Temp\BSRtLog\"/>
    <!-- 펌웨어파일들을 보관할 루트폴더-->
    <add key="FirmwareBinDir" value="C:\Temp\BSFirmware\"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnFkWeb" connectionString="server=.\SQLEXPRESS1;uid=sa;pwd=123456;database=attdb2;Min Pool Size=0;Max Pool Size=512;Pooling=true;"/>
  </connectionStrings>
  <system.web>
    <!-- 
          设置 compilation debug="true" 可将调试符号插入到
          已编译的页面。由于这会
          影响性能，因此请仅在开发过程中将此值
          设置为 true。
      -->
    <compilation debug="true" defaultLanguage="c#"/>
    <!-- trace enabled="true" requestLimit="40" localOnly="false" /-->
    <trust level="Full"/>
    <!--
          通过 <authentication> 节可以配置
          安全身份验证模式，ASP.NET 
          使用该模式来识别来访用户身份。 
      -->
    <authentication mode="Windows"/>
    <!--
          如果在执行请求的过程中出现未处理的错误，
          则通过 <customErrors> 节
          可以配置相应的处理步骤。具体而言，
          开发人员通过该节可配置要显示的 html 错误页，
          以代替错误堆栈跟踪。

      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
          <error statusCode="403" redirect="NoAccess.htm" />
          <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
      -->
    <pages/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="C#;Csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/platform:x86"/>
    </compilers>
  </system.codedom>
  <!--{{ log4net에 대한 설정항목-->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\FKWebServer.log"/>
      <!-- Example using environment variables in params -->
      <!-- <param name="File" value="${TMP}\\ApplicationKit.log" /> -->
      <param name="CountDirection" value="1"/>
      <param name="MaximumFileSize" value="1MB"/>
      <param name="MaxSizeRollBackups" value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-2p %c [%x] - %m%n"/>
        <!--<param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />-->
      </layout>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <logger name="SiteLogger">
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
    <logger name="DebugOutLogger">
      <level value="ALL"/>
      <appender-ref ref="OutputDebugStringAppender"/>
    </logger>
    <!--
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    -->
  </log4net>
  <!--}} log4net에 대한 설정항목-->
  <system.webServer>
    <!--{{WEBDAV에 대한 설정항목-->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="TelemetryCorrelationHttpModule" />
      <remove name="WebDAVModule" />
      <!--<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />-->
    </modules>
    <directoryBrowse enabled="false" />
    <!--}}WEBDAV에 대한 설정항목-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>