<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="ShowDebugMsg" value="yes"/>
    <add key="LogImgRootDir" value="c:\Temp\BSRtLog\"/>
    <!-- 펌웨어파일들을 보관할 루트폴더-->
    <add key="FirmwareBinDir" value="C:\Temp\BSFirmware\"/>
    <add key="DefaultDir" value="C:\Temp\"/>
    <!--<add key="Version" value="Ver 2.3.2"/>-->
    <!--<add key="Version" value="Ver 2.3.3"/> add door_status to heart_packet  2021.10.19  @kks -->
    <!--<add key="Version" value="Ver 2.3.4"/> add realtime_barcode  2021.11.05  @kks -->
    <!--<add key="Version" value="Ver 2.3.5"/>    add realtime_operation_log  2023.03.27  @kks -->
    <!--<add key="Version" value="Ver 2.3.6"/>    add palm checkbox in UserManage  2023.03.31  @kks -->
    <!--<add key="Version" value="Ver 2.3.7"/>     add iomodes in App_Code/FKDataHS10_/GetInOutModeString  2023.06.16  @kks -->
    <!--<add key="Version" value="Ver 2.3.8"/>     in realtime log, show photo changed from last one to last 15 photos  2023.06.30  @kks -->
    <!-- <add key="Version" value="Ver 2.3.9"/>    added VerifyMode mask(aVerifyMode & 0x1F) in FKDataHS101.cs  2023.07.24  @kks -->
    <!--<add key="Version" value="Ver 2.3.10"/>    added USE_EXT_ID in FKDataHS101.cs and FKWebTools.cs  2023.09.21  @kks -->
    <!--<add key="Version" value="Ver 2.3.11"/>    added REQ_TYPE_JSON  2023.10.12  @kks -->
    <!-- <add key="Version" value="Ver 2.3.12"/>    added optinal and non-completed ENCRYPT including FKWebTrans.enumEncMode   2023.11.9  @kks -->
    <!-- <add key="Version" value="Ver 2.3.13"/>    added One-Time Pass.aspx   2023.12.7  @kks -->
    <!-- <add key="Version" value="Ver 2.3.14"/>    added EDITING PASSWORD and CARD in userman.aspx, it allowed only at SET_USER_INFO command   2024.6.12  @kks -->
    <add key="Version" value="Ver 2.3.15"/>    <!-- added Screen updating in DeviceManage.aspx, it allowed only at UPDATE_FIRMWARE command   2024.7.4  @kks -->
  </appSettings>
  <connectionStrings>
    <add name="SqlConnFkWeb" connectionString="server=.\sqlexpress;uid=sa;pwd=123456;database=AttDB2; Min Pool Size=0;Max Pool Size=100;Pooling=true;"/>
  </connectionStrings>
  <system.web>
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <!--FileUpload콘트롤에서 수용할수 있는 최대파일크기를 40MB로 설정한다.-->
    <httpRuntime maxRequestLength="40960"/>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\FKWebServer.log"/>
      <!-- Example using environment variables in params -->
      <!-- <param name="File" value="${TMP}\\ApplicationKit.log" /> -->
      <param name="CountDirection" value="1"/>
      <param name="MaximumFileSize" value="1MB"/>
      <param name="MaxSizeRollBackups" value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-2p %c [%x] - %m%n"/>
        <!--<param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />-->
      </layout>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <logger name="SiteLogger">
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
    <logger name="DebugOutLogger">
      <level value="ALL"/>
      <appender-ref ref="OutputDebugStringAppender"/>
    </logger>
    <!--
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    -->
  </log4net>
</configuration>